# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Project Specific files ###
/Online_Book_Shopping/target/
/Online_Book_Shopping/!.mvn/wrapper/maven-wrapper.jar
/Online_Book_Shopping/!**/src/main/**/target/
/Online_Book_Shopping/!**/src/test/**/target/

### STS ###
/Online_Book_Shopping/.apt_generated
/Online_Book_Shopping/.classpath
/Online_Book_Shopping/.factorypath
/Online_Book_Shopping/.project
/Online_Book_Shopping/.settings
/Online_Book_Shopping/.springBeans
/Online_Book_Shopping/.sts4-cache

/Online_Book_Shopping/HELP.md
/Online_Book_Shopping/.gitignore

# See http://help.github.com/ignore-files/ for more about ignoring files for Angular.
# compiled output  
angular-online-book-shopping/dist  
angular-online-book-shopping/tmp  
angular-online-book-shopping/out-tsc  

# Only exists if Bazel was run
angular-online-book-shopping/bazel-out
  
# dependencies  
angular-online-book-shopping/node_modules  
  
# IDE - VSCode  
angular-online-book-shopping/.vscode/*  
angular-online-book-shopping/!.vscode/settings.json  
angular-online-book-shopping/!.vscode/tasks.json  
angular-online-book-shopping/!.vscode/launch.json  
angular-online-book-shopping/!.vscode/extensions.json  
  
# misc  
angular-online-book-shopping/.sass-cache  
angular-online-book-shopping/connect.lock  
angular-online-book-shopping/coverage  
angular-online-book-shopping/libpeerconnection.log  
angular-online-book-shopping/npm-debug.log  
angular-online-book-shopping/yarn-error.log  
angular-online-book-shopping/testem.log  
angular-online-book-shopping/typings  

# e2e
angular-online-book-shopping/e2e/*.js
angular-online-book-shopping/e2e/*.map
  
# System Files  
angular-online-book-shopping/.DS_Store  
angular-online-book-shopping/Thumbs.db  